# Eliminación de la noche

## Cambio a hora local

In [ ]:
import pandas as pd
import numpy as np

Lectura del dataset

In [ ]:
df2015 = pd.read_csv('./drive/MyDrive/DatosInvestigacion/NoNull2015.csv', index_col=0, parse_dates=True)

Hay un desfase de 5 horas.

In [ ]:
df2015.head(5)

                           Date      Time Local Time  ...  WS1HA  WS1HM  WS1HX
DateTime                                              ...
2015-01-01 06:00:00  2015-01-01  06:00:00   01:00:00  ...    1.0    0.0    2.9
2015-01-01 07:00:00  2015-01-01  07:00:00   02:00:00  ...    1.8    0.0    3.0
2015-01-01 08:00:00  2015-01-01  08:00:00   03:00:00  ...    1.9    0.5    2.9
2015-01-01 09:00:00  2015-01-01  09:00:00   04:00:00  ...    1.5    0.4    2.7
2015-01-01 10:00:00  2015-01-01  10:00:00   05:00:00  ...    1.4    0.4    2.6

[5 rows x 52 columns]

In [ ]:
df2015.index

DatetimeIndex(['2015-01-01 06:00:00', '2015-01-01 07:00:00',
               '2015-01-01 08:00:00', '2015-01-01 09:00:00',
               '2015-01-01 10:00:00', '2015-01-01 11:00:00',
               '2015-01-01 12:00:00', '2015-01-01 13:00:00',
               '2015-01-01 14:00:00', '2015-01-01 15:00:00',
               ...
               '2015-12-31 20:00:00', '2015-12-31 21:00:00',
               '2015-12-31 22:00:00', '2015-12-31 23:00:00',
               '2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00'],
              dtype='datetime64[ns]', name='DateTime', length=8760, freq=None)

In [ ]:
# Manipulate DATETIME
from datetime import timedelta

In [ ]:
df2015['Local_Time']=df2015.index+timedelta(hours=-5)

In [ ]:
df2015['Local_Time']

DateTime
2015-01-01 06:00:00   2015-01-01 01:00:00
2015-01-01 07:00:00   2015-01-01 02:00:00
2015-01-01 08:00:00   2015-01-01 03:00:00
2015-01-01 09:00:00   2015-01-01 04:00:00
2015-01-01 10:00:00   2015-01-01 05:00:00
                              ...
2016-01-01 01:00:00   2015-12-31 20:00:00
2016-01-01 02:00:00   2015-12-31 21:00:00
2016-01-01 03:00:00   2015-12-31 22:00:00
2016-01-01 04:00:00   2015-12-31 23:00:00
2016-01-01 05:00:00   2016-01-01 00:00:00
Name: Local_Time, Length: 8760, dtype: datetime64[ns]

In [ ]:
df = df2015.drop(['Date',	'Time',	'Local Time'],axis=1)

In [ ]:
df = df.set_index('Local_Time')

In [ ]:
df.head()

                       DC  PAAVG1H  PAMAX1H  PAMIN1H  ...  WR1H  WS1HA  WS1HM  WS1HX
Local_Time                                            ...
2015-01-01 01:00:00  13.1    743.2    743.6    742.8  ...  15.0    1.0    0.0    2.9
2015-01-01 02:00:00  13.1    742.6    742.8    742.4  ...  26.0    1.8    0.0    3.0
2015-01-01 03:00:00  13.1    742.1    742.4    741.9  ...  28.0    1.9    0.5    2.9
2015-01-01 04:00:00  13.0    741.8    741.9    741.7  ...  23.0    1.5    0.4    2.7
2015-01-01 05:00:00  13.0    741.8    741.9    741.7  ...  21.0    1.4    0.4    2.6

[5 rows x 49 columns]

## Se conservan los datos de 7 de la mañana a 6 de la tarde

In [ ]:
df.shape

(8760, 49)

In [ ]:
dfDay = df.between_time('07:00:00','18:00:00')

In [ ]:
dfDay.shape

(4380, 49)

Puede verse que el valor mínimo ya no es 0.

In [ ]:
dfDay['SRGLOAVG1H'].describe()

count    4380.000000
mean      344.276712
std       257.112709
min         2.000000
25%       128.000000
50%       309.000000
75%       501.250000
max      1217.000000
Name: SRGLOAVG1H, dtype: float64

## Se guarda el nuevo dataset

In [ ]:
dfDay.to_csv('DayData2015.csv')